{% extends "base_top.html" %}
{% load static %}

{% block title %}DM Restaurant{% endblock %}

{% block content %}
    <!-- 自定义 CSS -->
    <style>
        body {background-image: url("{% static 'img/bk_danjon.jpg' %}"); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center center;}
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    {% include 'header1.html' %}
    <div class="container">
        {% if not user.is_active %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        <div class="row">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'img/crs_danjonmeshi.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/crs_frog.jpeg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/crs_style.jpeg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
    {% if user.is_active %}
    <div class="container">
        <div class="row">
            <div class="card mb-3" style="max-width: 1020px;">
                <div class="row g-8">
                    <div class="col-md-6">
                        <img src="{% static 'img/toomany.jpeg' %}" class="img-fluid" alt="Restaurant Image">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                        <h1 class="mb-4">預約訂位</h1>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="time_slot">選擇時間</label>
                                    {{ form.time_slot }}
                                </div>
                                <div class="form-group">
                                    <label for="number_of_people">人數</label>
                                    {{ form.number_of_people }}
                                </div>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </form>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!--1st section-->
    <section id="second">
        <div class="container" style="background-color: #e3f2fd;">
            <div class="row">
                <div class="col-md-4 text-center"> 
                    <img src="{% static 'img/Thistle.png' %}">
                    <h5>狂亂魔法師 希斯爾</h5>
                </div>
                <div class="col-md-8 text-left">
                    <p class="lead">黃金城迷宮所在地。屬於東方大陸，卡卡布魯德南部。</p>
                    <p>精靈族，黃金國的魔法師，曾擔任黃金城迷宮的迷宮之主。</p>
                    <P>所謂迷宮飯，其實很簡單，要麼吃，要麼被吃，不存在高下之分。吃是生者的特權，僅此而已。迷宮飯，嗚呼，迷宮飯！</P>
                </div>
            </div>
        </div>
    </section>
    <!--2nd section-->
    <section id="latest">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                <img src="{% static 'img/rar_mandrake.png' %}" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">曼德拉草</h5>
                    <p class="card-text">埋在土裡的植物型魔物，根的部分像是嬰兒，長著人臉和四肢般的根須，可以用腿部在地面上奔跑。</p>
                </div>
                <div class="card-footer">
                    <p class="text-body-secondary text-center">Rarity：B tier</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="{% static 'img/rar_kelpie.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">水棲馬</h5>
                    <p class="card-text">水棲的馬型魔物，肉食性，可以在水下和水面上活動，跑得並不快。表面上非常溫順，會馱著人渡過深水區域，實際上相當狡猾兇殘，會將人拖入深水之中捕食。</p>
                </div>
                <div class="card-footer">
                    <p class="text-body-secondary text-center">Rarity：B tier</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="{% static 'img/rar_flyingpig.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">飛豬</h5>
                    <p class="card-text">長著羽翼的家豬。雖然被認為是原創的魔物，但其實和鹿角兔一樣早有相關傳說記載，同樣用來形容不可能的事物。</p>
                </div>
                <div class="card-footer">
                    <p class="text-body-secondary text-center">Rarity：A tier</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                <img src="{% static 'img/rar_reddragon.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">炎龍</h5>
                    <p class="card-text">體表呈赤紅色，體型龐大的龍，四足行走，無翼，雄性下顎有凸起。炎龍唯一的弱點是位於下顎的逆鱗。</p>
                </div>
                <div class="card-footer">
                    <p class="text-body-secondary text-center">Rarity：S tier</p>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}